.bash_logout
.profile
.lesshst
.wget-hsts
.bash_history
.postgres-data
.CFUserTextEncoding

.aws
.cache
.cfg
.mozilla
.nix-channels
.nix-defexpr
.nix-profile
.npm
.nvm
.iterm2*
.ipython
.terraform.d
Applications
Desktop
Documents
Downloads
Movies
Music
Pictures
Public
Library
bin
fontconfig
go
j
snap
tmp

.scrachpad
.sentryclirc

!.gnupg/gpg-agent.conf.linux
!.gnupg/gpg-agent.conf.mac
.bash_sessions/
.config/1Password
.config/Code/
.config/cachix
.config/dconf/
.config/enchant/
.config/evolution/
.config/gedit/
.config/github-copilot
.config/gnome-initial-setup-done
.config/gtk-3.0/
.config/ibus/
.config/monitors.xml
.config/nix
.config/op
.config/pulse/
.config/user-dirs.dirs
.config/user-dirs.locale
.cocoapods/
.config/configstore/
.config/fish/
.config/htop/
.config/pgcli/
.config/zed/
.gnupg/
.local/
.cups/
.redisinsight-app/
.local/share/
.mono
.pki/
.psql_history
.pyenv
.python_history
.ssh/
.sudo_as_admin_successful
.swiftpm
.zsh_history
.zsh_sessions
.docker
.angular-config.json

.config/Synergy/
.synergy
.viminfo
.parallels
.vim


# VS Code
.vscode-server/
.vscode/
*.code-workspace
