.bash_logout
.profile
.lesshst
.wget-hsts
.bash_history

.aws
.cache
.cfg
.mozilla
.nix-channels
.nix-defexpr
.nix-profile
.npm
.nvm
.terraform.d
Desktop
bin
fontconfig
go
j
snap
tmp


.config/Code/
.config/cachix
.config/dconf/
.config/enchant/
.config/evolution/
.config/gedit/
.config/gnome-initial-setup-done
.config/gtk-3.0/
.config/ibus/
.config/nix
.config/pulse/
.config/user-dirs.dirs
.config/user-dirs.locale
.local/share/
.gnupg/
.local/
.pki/
.ssh/
.sudo_as_admin_successful

.config/Synergy/
.synergy
.viminfo
.parallels
.vim


# VS Code
.vscode-server/
.vscode/
*.code-workspace
