[user]
    email = nick@nickzaccardi.com
    name = Nick Zaccardi
    signingkey = 8E9AC0F55EB1256B
[core]
    excludesfile = /home/nzac/.config/git/.gitignore_global
	editor = vim
[commit]
	gpgsign = true
[init]
	defaultBranch = main
