# Symlink this file from options
.gitconfig

.sqlite_history
.bash_logout
.profile
.lesshst
.wget-hsts
.bash_history
.postgres-data
.CFUserTextEncoding
.at
.direnv/
.yarn/

.Trash
.aws
.aws-sam
.bundle
.cache
.cfg
.cloudflared
.cookiecutter_replay
.ipython
.iterm2*
.mozilla
.nix-channels
.nix-defexpr
.nix-profile
.npm
.nvm
.prettierd
.terraform.d
Applications
Desktop
Documents
Downloads
Google\ Drive
Library
Movies
Music
Pictures
Public
bin
fontconfig
go
j
snap
tmp

.scrachpad
.sentryclirc

!.gnupg/gpg-agent.conf.linux
!.gnupg/gpg-agent.conf.mac
.angular-config.json
.bash_sessions/
.cocoapods/
.config/1Password
.config/Code/
.config/Synergy/
.config/cachix
.config/configstore/
.config/containers
.config/dconf/
.config/enchant/
.config/evolution/
.config/fish/
.config/gedit/
.config/github-copilot
.config/gnome-initial-setup-done
.config/gtk-3.0/
.config/hcloud/cli.toml
.config/htop/
.config/ibus/
.config/iterm2/
.config/monitors.xml
.config/nix
.config/op
.config/pgcli/
.config/pulse/
.config/stripe
.config/synergy
.config/user-dirs.dirs
.config/user-dirs.locale
.config/zed/
.cups/
.docker
.gnupg/
.local/
.local/share/
.mono
.parallels
.pki/
.psql_history
.pyenv
.python_history
.redisinsight-app/
.ssh/
.sudo_as_admin_successful
.swiftpm
.synergy
.vim
.viminfo
.zsh_history
.zsh_sessions


# VS Code
.vscode-server/
.vscode/
*.code-workspace
